name: DevOps Escape Room
on: [push]
jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
      - name: Install Vercel CLI
        run: npm install -g vercel
      - uses: actions/checkout@v3
      - name: Install deps
        run: npm install
      - name: Run tests
        run: npm test
      - name: Deploy Preview
        run: vercel --prod --token=$VERCEL_TOKEN
